.contain {
    width: 1200px;
    display: flex;
    justify-content: center;
}
.problem-statement {
    width: 600px;
}

.done {
    text-decoration: line-through !important;
}

.home-container {
    background-color: #ffd9aa !important;
}

.list-group-item {
    background-color: #ffd9aa !important;
}

.card-header {
    background-color: var(--primary-color) !important;
}