.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.wrapper {
    width: 350px;
    height: 350px;
    background-color: #ffd9aa;
    border-radius: 10px;
    color: var(--secondary-color)
}

.wrapper h3 {
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.wrapper .form-control {
    border: none;
    background-color: #fff0de; 
    width: 250px;
    margin-left: 50px;
    margin-top: 25px;
}   

.wrapper .button {
    background-color: var(--primary-color);
    border: none;
    width: 100px;
    margin-top: 25px;
    margin-left: 125px;
}